
<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>



<%= render partial: 'sidemenu', locals: { user: @user, book: @book } %>

<%= render partial: 'list', locals: { user: @user, books: @books } %>



